body {
    background: #483D8B;
    margin: 0; 
    padding: 0; 
}

.navbar-brand {
    font-family: fantasy;
    font-size: 2em; 
    font-variant: small-caps;
    color: slategray;
}

.nav-link {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25em; 
    font-variant: small-caps;
    color: grey;
}

