@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
:root { --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
* {  box-sizing: border-box; }
body { background-color: #d2b0ff;  display: flex;  flex-direction: column;  align-items: center;  justify-content: center;  min-height: 100vh;  margin: 0;  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale; }
code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',  monospace; }

h1 { font-size:48px; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ; letter-spacing: 1px;  margin: 0; }

h2 { font-size: 40px; font-weight:bolder; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

h3 { font-size: 24px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-weight: bold; padding-bottom: 10px;  margin: 40px 0 10px; }

h4 { font-family: cursive; font-size:30px; font-weight: bold; margin: 0;  text-transform: uppercase; }

h5 { font-size:22px; font-family: fantasy; font-weight: bold;}

label { display: inline-block;  margin: 10px 0; }

input[type='text'], input[type='number'] { border: 2px solid #ff7070; border-radius: 2rem; display: block; font-size: 16px; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-style:italic; -webkit-box-align: center; -moz-box-align: center; padding: 10px; width: 80%; justify-self: center; }

.btn { cursor: pointer; background-color: #f449be; box-shadow: var(--box-shadow); color: #fff; border: 1.5rem; display: block; font-size: 18px; margin: 10px 0 10px; padding: 10px; width: 80%; }

.btn:focus {  outline: 0; }

.nav-pills { color: info; }

.container { margin: 30px auto; width: 95%; text-align: center; border-radius: var(--box-shadow); border-color: antiquewhite;}

.card-header { border-radius:2rem; font-size:48px; font-weight:bold; text-align: center; border-color: #2f16aa;}

.card-body { border-radius:2rem; border-color: #2f16aa;}

.card-title { font-size:20px; font-weight:bold; text-align:center; } 

.card-text { font-size:16px; font-weight:bold; text-align:center; }

.form-control { border-radius:2rem; font-size:18px; text-align: center; border-color: #2f16aa;}

.submit-area { align-items: center; text-align:center }


